/* MissionDetails.css */
* {
  font-family: 'Space Mono', monospace;
  font-size: large;
}
body {
  background-color: rgba(0, 0, 0, 0.695);
}
.mission-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #333;
  font-family: sans-serif;
  text-align: center;
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgba(237, 217, 217, 0.516);
  padding: 30px;
}

.mission-details h1 {
  margin: 0;
  font-size: 2em;
  font-weight: bold;
}

.mission-details h2 {
  font-weight: bold;
  color: #0070C0;
}

.mission-details img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 1em;
}

.mission-details p {
  margin: 0;
  font-size: 1em;
  line-height: 1.5;
}

.mission-details .details {
  width: 60%;
}

.mission-details .comments {
  width: 40%;
  display: flex;
  margin-top: 50px;
  
}

.mission-details .comments button {
  padding: 12px;
  margin-left: 10px;
  border-radius: 20px;
  margin-top: 10px;
}

.comments input {
  border: none;
  outline: none;
  padding: 5px 5px 8px 0px;
  width: 70%;
  border-radius: 20px;
  font-size: 18px;
  border-bottom: solid 1px #efefef;
  opacity: 0.5;
  top: 10px;
  left: 0px;
  transition: all 0.2s ease;
  font-size: 18px;
}
.comments input:hover{
  transform: scale(1.1);
}
